.cls-1 {
	fill: transparent;
}

.cls-2 {
	fill: #116495;
}

.cls-3 {
	fill: #ffffff;
}

.cls-4 {
	fill: #116495;
}

.sls-1 {
	fill: transparent;
}

.sls-2 {
	fill: #2063a8;
}

.sls-3 {
	fill: #fcfdfd;
}

.wls-1 {
	fill: transparent;
}

.wls-2 {
	fill: #060504;
}

.wls-3 {
	fill: #dfdede;
}

.ils-1 {
	fill: transparent;
}

.ils-2 {
	fill: #c2c2c2;
}

.ils-3 {
	fill: #bcbcbc;
}

.ils-4 {
	fill: #d9aa37;
}

.ils-5 {
	fill: #d9aa37;
}

.ils-6 {
	fill: #f4f4f4;
}
